<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-lg">
        <a class="navbar-brand" th:href="@{/}">
            <span class="brand-dot"></span>MedRecords
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav me-auto gap-1 ms-3">
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','DOCTOR','PATIENT')">
                    <a class="nav-link" th:href="@{/checkups}">Check-ups</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','DOCTOR','PATIENT')">
                    <a class="nav-link" th:href="@{/sickleaves}">Sick Leaves</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','DOCTOR')">
                    <a class="nav-link" th:href="@{/patients}">Patients</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','DOCTOR')">
                    <a class="nav-link" th:href="@{/doctors}">Doctors</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','DOCTOR')">
                    <a class="nav-link" th:href="@{/diagnoses}">Diagnoses</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','DOCTOR')">
                    <a class="nav-link" th:href="@{/statistics}">Statistics</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin}">Users</a>
                </li>
            </ul>
            <ul class="navbar-nav align-items-center gap-2">
                <li class="nav-item">
                    <span class="navbar-user" sec:authentication="name"></span>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-outline-light btn-sm">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
